




<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BuchiX</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>{{#link-to 'application'}}Home{{/link-to}}</li>
            <li>{{#link-to 'person'}}Neu{{/link-to}}</li>
            {{#if controller.session.isAuthenticated}}
            <li  {{action 'invalidateSession'}}><a href="#">Logout</a></li>


            {{/if}}
        </ul>
        {{#if controller.session.isAuthenticated}}
        {{else}}
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                {{input value=controller.loginName class="form-control" placeholder="Login"}}
                {{input value=controller.loginPassword class="form-control" placeholder="Passwort"}}
            </div>
            <button type="submit" class="btn btn-default" {{action 'login'}}>Login</button>
        </form>
        {{/if}}
        <div class="pull-right">
            {{#if controller.session.isAuthenticated}}
            <span class="label label-success">Logged In</span>
            {{else}}
            <span class="label label-danger">Logged Out</span>
            {{/if}}
            {{#if controller.saved}}
            <span class="label label-success">{{controller.saved}}</span>
            {{/if}}
        </div>




    </div>
</div>
{{outlet}}
