<h2 id='title'>Dienstplan</h2>
{{#link-to 'person'}}Neu{{/link-to}} {{#link-to 'application'}}Home{{/link-to}}
{{outlet}}
{{#link-to 'index' (query-params kw=prevKw year=year)}}prev{{/link-to}}{{#link-to 'index' (query-params kw=nextKw year=year)}}next{{/link-to}}
{{#each model}}
    <div> {{name}} | {{#each type}}{{value}}{{/each}} {{currentWeek.0.kw}} | {{currentWeek.0.year}} | {{currentWeek.0.mo}} | {{currentWeek.0.di}} | {{currentWeek.0.mi}} | {{currentWeek.0.do}} | {{currentWeek.0.fr}} | {{currentWeek.0.sa}} | {{currentWeek.0.so}}</div>
{{/each}}

{{#link-to 'index' (query-params kw=prevKw year=year)}}prev{{/link-to}}{{#link-to 'index' (query-params kw=nextKw year=year)}}next{{/link-to}}
