<h2 id='title'>Welcome to Ember.js</h2>
{{#link-to 'index' (query-params kw="49")}}next{{/link-to}}
{{#each model}}
    <div> {{name}} | {{#each type}}{{value}}{{/each}} {{currentWeek.0.kw}} | {{currentWeek.0.year}} | {{currentWeek.0.mo}} | {{currentWeek.0.di}} | {{currentWeek.0.mi}} | {{currentWeek.0.do}} | {{currentWeek.0.fr}} | {{currentWeek.0.sa}} | {{currentWeek.0.so}}</div>
{{/each}}
{{outlet}}
