
<div class="row">
    <div class="centered"><span class="label label-default">Woche: {{kw}} | {{fullMo}} -> {{fullSo}}</span></div>
</div>
{{#link-to 'index' (query-params kw=prevKw year=prevYear) class="pull-left"}}<button class="btn btn-default">letzte Woche</button>{{/link-to}}
{{#link-to 'index' (query-params kw=nextKw year=nextYear) class="pull-right"}}<button class="btn btn-default">nächste Woche</button>{{/link-to}}


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Mo {{mo}}</td>
            <td>Di {{di}}</td>
            <td>Mi {{mi}}</td>
            <td>Do {{do}}</td>
            <td>Fr {{fr}}</td>
            <td>Sa {{sa}}</td>
            <td>So {{so}}</td>
        </tr>
    </thead>
    <tbody>
        {{#if session.isAuthenticated}}
        {{#each type in controller}}
        <tr class="active"><td>{{type.value}}{{type.test}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {{#each person in type.person itemController="item"}}

        <tr>
            <td><button class="btn btn-xs btn-default" {{action "delete" person}}><span class="glyphicon glyphicon-remove"></span></button>
                <span {{action 'editPerson' person}} class="pointer">{{person.lastname}}, {{person.name}} {{person.currentWeek}}
                    <span class="pull-right">
                        {{#if person.phone}}{{view 'tooltip' data-original-title=person.phone glyphicon="glyphicon glyphicon-earphone"}}{{/if}}
                        {{#if person.handy}}{{view 'tooltip' data-original-title=person.handy glyphicon="glyphicon glyphicon-phone"}}{{/if}}
                        {{#if person.mail}}{{view 'tooltip' data-original-title=person.mail glyphicon="glyphicon glyphicon-envelope"}}{{/if}}
                    </span>
                </span>
            </td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.mo}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.di}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.mi}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.do}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.fr}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.sa}}</td>
            <td>{{input class="field" focus-out="autoSave" value=person.cWeek.so}}</td>
        </tr>
        {{/each}}
        {{/each}}

        {{else}}









        {{#each type in controller}}
        <tr class="active"><td>{{type.value}}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {{#each person in type.person itemController="item"}}
        <tr>
            <td>
                <span  class="pointer">{{person.lastname}}, {{person.name}}{{person.currentWeek}}
                    {{#if person.phone}}{{view 'tooltip' data-original-title=person.phone glyphicon="glyphicon glyphicon-earphone"}}{{/if}}
                    {{#if person.handy}}{{view 'tooltip' data-original-title=person.handy glyphicon="glyphicon glyphicon-phone"}}{{/if}}
                    {{#if person.mail}}{{view 'tooltip' data-original-title=person.mail glyphicon="glyphicon glyphicon-envelope"}}{{/if}}
                </span>
            </td>
            <td>{{person.cWeek.mo}}</td>
            <td>{{person.cWeek.di}}</td>
            <td>{{person.cWeek.mi}}</td>
            <td>{{person.cWeek.do}}</td>
            <td>{{person.cWeek.fr}}</td>
            <td>{{person.cWeek.sa}}</td>
            <td>{{person.cWeek.so}}</td>
        </tr>
        {{/each}}
        {{/each}}
        {{/if}}
    </tbody>
</table>



{{#link-to 'index' (query-params kw=prevKw year=prevYear) class="pull-left"}}<button class="btn btn-default">letzte Woche</button>{{/link-to}}
{{#link-to 'index' (query-params kw=nextKw year=nextYear) class="pull-right"}}<button class="btn btn-default">nächste Woche</button>{{/link-to}}
