<div>
    <div>
        <label>Vorname</label>
        {{input type="text" value=name}}
    </div>
    <div>
        <label>Nachname</label>
        {{input type="text" value=lastname}}
    </div>
    <div>
        <label>E-Mail</label>
        {{input type="text" value=mail}}
    </div>
    <div>
        <label>Telefon</label>
        {{input type="text" value=phone}}
    </div>
    <div>
        <label>Handy</label>
        {{input type="text" value=handy}}
    </div>

    <div>
        {{#each type in clickedTypes}}
            <button class="btn btn-primary" {{action 'unsetType' type}}>{{type.value}}</button class="btn btn-default">
        {{/each}}
        {{#each type in types}}
            <button class="btn btn-default" {{action 'setType' type}} >{{type.value}}</button class="btn btn-default">
        {{/each}}

    </div>

    <button class="btn btn-default" {{action 'savePerson' model}}>Neu Anlegen</button class="btn btn-default">

</div>
